.news {

    &_block {

        margin: 20px 0;

        .content {

            h1 {
                cursor:pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            .source {
                font-size: 13px;
                color: #999999;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .multimedia {

            img {
                width: 80%;
            }
        }
    }
}
